.filterBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
  gap: 50px;
}

.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  position: relative;

  background-color: #fff;
  color: #333;

  padding: 10px 20px;
  appearance: none;

  border: 1px solid #ccc;
  border-radius: 4px;
}
