.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 70px;
  padding: 30px;
  gap: 30px;

  background-color: #333;
  color: white;
}

.shopInfo {
  width: 40%;
}

.shopDescription {
  margin-top: 28px;
}

.socialNetworks {
  display: flex;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 0;
  gap: 14px;
}

.footerLinks {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 50px;
}

.columnTitle {
  margin-top: 0;
}

.footerColumn a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.footer-column ul li {
  margin-top: 8px;
}
